<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!-- 設定原始的檔案路徑-->
		<add key="DataFileFromDir" value="D:\TestData\" />
		<!--複製備份的檔案存放路徑-->
		<add key="CopyFileSaveDir" value="D:\TestData\CopyTest" />
		<!--當有卡號重覆時通知的收件者EMAIL-->
		<add key="ReceiveMailUser" value="Riley_Sun@tync.com.tw" />
		<!--當有卡號重覆時通知的密件副本收件者EMAIL-->
		<add key="CCEmailUser" value="hermionesn4@gmail.com" />
		<!--EMAIL寄件者Email-->
		<add key="SendEmailUser" value="lovelylens03@gmail.com" />
		<!--EMAIL寄件者的帳號-->
		<add key="SendEmailAccount" value="lovelylens03@gmail.com" />
		<!--EMAIL寄件者的密碼-->
		<add key="SendEmailPassword" value="ckvsecgonlhkmcps" />
		<!--SMTP Server-->
		<add key="SMPTServer" value="smtp.gmail.com" />
		<!--Port-->
		<add key="Port" value="25" />
		<!--信件主旨-->
		<add key="Subject" value="通知-貴公司有發現重複卡號!" />
		<!--信件內容-->
		<add key="EmailBody" value="測試用信件" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>